body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: rgba(8, 8, 8, 0.671);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
button{
    padding: 1em;
    max-width: 60%;
    background-color: tomato;
    border-bottom-left-radius: 10px;
    border:none;
}